<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:appCategory="productivity"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/app_description"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:gwpAsanMode="always"
        android:icon="${appLogo}"
        android:label="${appName}"
        android:memtagMode="async"
        android:roundIcon="${appLogo}"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.SplashScreen"
        tools:targetApi="36">
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        TODO
        [grantUriPermissions]
        If you enable this feature, either by setting this attribute to "true" or by defining
        <grant-uri-permission> sub-elements, call Context.revokeUriPermission() when
        a covered URI is deleted from the provider.
        -->
        <provider
            android:authorities="${providerName}"
            android:exported="true"
            android:grantUriPermissions="true"
            android:icon="${appLogo}"
            android:name="chiogros.trante.ui.saf.CustomDocumentsProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>

</manifest>